<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Knockout Presentation</title>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap-responsive.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/master.css")" rel="stylesheet" />

    @RenderSection("Head",false)
</head>
    <body>
        <img class="logo" src="@Url.Content("~/Content/images/ko-logo.png")" onclick="window.location.href = '/'" />
        <div class="main-content">
            @RenderBody()
        </div>
        
    
        <script src="@Url.Content("~/Scripts/jquery-2.0.3.min.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery-migrate-1.1.1.min.js")"></script>
        <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
        <script src="@Url.Content("~/Scripts/knockout-2.3.0.js")"></script>
        <script src="@Url.Content("~/Scripts/knockout.mapping-latest.js")"></script>
        <script src="@Url.Content("~/Scripts/amplify.min.js")"></script>
    
        @RenderSection("Scripts", false)
    </body>
</html>